@model IEnumerable<Models.Employee>

@if (Model.Count() != 0)
 {
	<div id="AutofillTexts">
		<table style="border: 1px solid black;">
			<thead>
				<tr>
					<th colspan="3" style="border: 1px solid black; text-align: center;">Employee Info</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td style="border: 1px solid black; font-weight: bold; text-align: center;">@Html.DisplayNameFor(m => m.EmployeeName)</td>
					<td style="border: 1px solid black; font-weight: bold; text-align: center;">@Html.DisplayNameFor(m => m.DepartmentName)</td>
					<td style="border: 1px solid black; font-weight: bold; text-align: center;">@Html.DisplayNameFor(m => m.DateofJoining)</td>
				</tr>

				@foreach (Models.Employee item in Model)
				 {
					<tr>
						<td style="border: 1px solid black; text-align: center;">@item.EmployeeName</td>
						<td style="border: 1px solid black; text-align: center;">@item.DepartmentName</td>
						<td style="border: 1px solid black; text-align: center;">@item.DateofJoining</td>
					</tr>
				 }
			</tbody>
		</table>
	</div>
 }
else
{
	<p>No data</p>
}